<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,600,0,0">
        <link rel="stylesheet" href="{{ url_for('static', path='css/card.css') }}">
        <title>Navigation Bar</title>
    </head>
        <div class="product-item">
            <img src="static/prods_img/{{ product.img }}" alt="logo">
            <div class="product-list">
                <h3>{{ product.name }}</h3>
                <span class="price">{{ product.price }}$</span>
                <a href="#" class="button">Buy</a>
        </div>
    </div>
</html>