<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,600,0,0">
    <link rel="stylesheet" href="{{ url_for('static', path='css/navbar.css') }}">
    <title>Navigation Bar</title>
</head>
<body>
        <div class="header">
            <div class="header-start">
                <a href="#" class="mobile-btn">
                    <span class="material-icons">menu</span>
                </a>
                <a href="/" class="logo">
                    <img src="{{ url_for('static', path='images/logo.png') }}" alt="logo"></a>
                </a>
            </div>
            <div class="header-center">
               <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
               </ul> 
            </div>
            <div class="header-end">
                <a href="#">Register</a>
                <a href="login/" class="link-fill">Sign In</a>
            </div>
        </div>

</body>
</html>