<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>randomshop</title>
    <style type="text/css">
        .product-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    </style>
</head>
<body>
    {% include "components/navbar.html" %}
    {% block content %}
    <div class="product-wrapper">
        {% for product in products %}
            {% with obj=product %}
                {% include "components/card.html" %}
            {% endwith %}
        {% endfor %}
    </div>
    {% endblock %}
</body>
</html>